.home-page__slide {
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.first {
    background-image: url('../../images/slider-1.jpg');
}

.second {
    background-image: url('../../images/slider-2.jpg');
}

.home-page-slider__item {
    outline: none;
    border: none;
}

@media (max-width:1199px) {
    .home-page__slide {
        min-height: 300px;
    }
}



@media(max-width: 575px) {
    .home-page__slide{
        min-height: 180px;
    }
}